@model Booking
@{
    ViewData["Title"] = "Add a new Booking";
}
<div class="row text">
    <div class="col-md-8 offset-3">

        <div class="card mt-5 mb-5" style="max-width: 700px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://cdn.pixabay.com/photo/2022/05/22/13/21/healthy-7213383_960_720.jpg" class="imgCard img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8" style="align-self: center;">
                    <div class="card-body">
                        <h5 class="card-title">Create Delivery</h5>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-check">
                                <input asp-for="Email" class="form-check-input" type="checkbox" id="flexCheckIndeterminate">
                                <label asp-for="Email" class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-check">
                                <input asp-for="HowMany" class="form-check-input" type="checkbox" id="flexCheckIndeterminate">
                                <label asp-for="HowMany" class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                                <span asp-validation-for="HowMany" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-outline-success float-end" />
                                <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
